<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace: 对应的就是Dao接口的全限定类名 -->
<mapper namespace="com.nchu.mapper.UserMapper">

    <select id="findAll" resultType="com.nchu.domain.User">
        select * from user;
    </select>

</mapper>